* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.container {
    background-image: url('../img/pietro-tebaldi-UNZZaAUlGzo-unsplash.jpg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}

.signupform {
    max-width: 400px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 10px;
    border-radius: 10px;
    height: 400px;
}

.signupform p {
    font-size: large;
}

.signupform input {
    height: 30px;
    width: 375px;
    padding: 0 10px;
    border-radius: 5px;
}

.alert {
    color: red;
}

.info {
    color: red;
    padding: 10px 0;
    font-weight: bold;
}

.button {
    padding: 7px 30px;
    border-radius: 5px;
    margin-top: 20px;
    background-color: rgb(11, 238, 11);
}